[submodule "ir-remote/lib/cpputil"]
	path = firmware/lib/cpputil
	url = git@github.com:4ms/cpputil
[submodule "ir-remote/lib/mdrivlib"]
	path = firmware/lib/mdrivlib
	url = git@github.com:4ms/mdrivlib
